body {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 15px;
    background-color: #FD6E0A;
    border: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
   padding: 20px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747
}
.header{
    background-color: #fff8f3;
   
    background-repeat: no-repeat;
    background-position: bottom right ;
    background-size: 400px;
    
}
.main{
    max-width: 1140;
    margin: 0px auto;
}
.section-title{color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}


.banner{
    padding: 0px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{width: 1500px;margin-left: 300px;
    display: flex;
}
.banner-greeting{font-size: 45px;
color: #474747;
margin-bottom: 0px;
}
.main section{
    margin-top: 130px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 2px;
}
.banner-content{
    max-width: 500px;
}
.about{padding: 130px;
border-radius: 10px;
background: #fff8f3;
margin: 300px ;}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{ text-align: center;}
.info-description{ font-weight: bold;}
.info-title{font-weight: normal;}
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    border: #181818 10px;
}
.skill{
    padding: 10px 50px;
  border-radius: 50px;
  background: #fff8f3;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0.06);


}
.skill-description{
    color:grey;
}
#img{width: 50px;
border-radius: 5px;}
.skill-title > a{
    text-decoration: none;
    color: black;
    
}
a:hover {
    background-color: #fff8f3;
    color: blue;
    border-radius: 5px;
    padding: 20px;
   

  }
  .skill-description:hover{
    color: #181818;
    background-color: white;
    padding: 10px;
    border-radius: 16px;

  }
  .section-titles:hover{
    background-color: #fff8f3;
   padding:  20px  20px;
   border-radius: 30px;
  }
  .section-description:hover{
    color:#181818;
    width: bolder;

  }
.section-titles{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
#cool{
    background-color: #fff8f3;
    color: #fff8f3;
    border-color: #fff8f3 ;
    border-bottom: #fff8f3;
    border-right: #fff8f3;
   
}
#cool:hover{
    background-color: #181818;
}
.btn-primary:hover{
    color: #181818;
}
.info-description:hover{
    background-color: white;
    border-radius: 12px;
    padding: 10px;
}
.btn-primary a{text-decoration: none;
    border-radius: 10px;
    background-color: #FD6E0A;
    border: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
   padding: 20px;
   
}
.btn-primary a:hover{
    background-color: black;
    padding: 9px 9px 9px 9px;

}